[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
        le = log --oneline --decorate
	lg = log --oneline --graph
	lgd = log --oneline --graph --decorate
[user]
	name = your name
	email = email@example.com
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = vim
[branch "master"]
	mergeoptions = --squash
	rebase = true
[pager]
        log = ~/diff-highlight.pl | less
        show = ~/diff-highlight.pl | less
        diff = ~/diff-highlight.pl | less
