[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
        le = log --oneline --decorate
	lg = log --oneline --graph
	lgd = log --oneline --graph --decorate
[user]
	name = Oleg Boiko
	email = oleh.boiko@gmail.com
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global	
#[pager]
#        log = diff-highlight | less
#        show = diff-highlight | less
#        diff = diff-highlight | less
[init]
	defaultBranch = main
