[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=iso
	le = log --oneline --decorate
[user]
	name = Oleg Boiko
	email = oleh.boiko@gmail.com
[push]
	default = simple
[core]
	editor = vim
